body{
    background: linear-gradient(#d6860e, #dfdfdf);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a:link{
    color: #000000;
    text-decoration: none;
}
a:visited{
    color: #000000;
    text-decoration: none;
}
a:hover{
    color: #ffffff;
    text-decoration: none;
}
/*-------------------chessboard---------------------*/
.chessboard{
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 20px solid #FFF8DC;
    border-collapse: separate;
    border-radius:6px;
    background-image: url('figures/Chess_Board.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
table.chessboard{
    border-spacing: 2.5px;
}
td{
    width: 55px;
    height: 55px;
    margin: 0px;
}
.figure{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
    height: 100px;
}
.left{
    position: absolute;
    left: 0%;
    top: 0%;
    font-size: 25px;
}
.bottom{
    position: absolute;
    right: 0%;
    bottom: 0px;
    font-size: 25px;
}
.cell{ 
    position: relative;
    width: 100%;
    height: 100%;
}
/*-------------------button----------------------*/
.superbutton {
    border-radius: 4px;
    background: linear-gradient(90deg, #ab6701,#ffdba4);
    border: none;
    color: rgb(62, 57, 39);
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}  
.superbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
} 
.superbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.superbutton:hover span {
    padding-right: 25px;
}
.superbutton:hover span:after {
    opacity: 1;
    right: 0;
}
/*-------------------formatting----------------------*/
div, .Registration, input, select, label, textarea{ 
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: rgb(53, 50, 39);
    border-radius: 4px;
}
::placeholder{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2 {
    text-transform: uppercase;
    font-weight: 400;
}
.block, .auth{
    text-align: center;
    display: block;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    padding: 10px;
    background-color: #dbaf6d;
    border-radius: 4px;
    position: relative;
    top:0%;
}
#timer{
    margin: auto;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
#controls button{
    margin: auto;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
